@tailwind base;
@tailwind components;
@tailwind utilities;
.spinner {
  @apply absolute top-0 left-0 w-full h-screen bg-slate-900;
}

.show-navigation {
  @apply text-white top-0 fixed focus:ring-4 font-medium rounded-r-lg text-sm px-5 py-2.5 mr-2 bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-gray-800;
}

.drawer-navigation {
  @apply fixed z-40 h-screen p-0 overflow-y-auto bg-white w-0 dark:bg-gray-800;
}
.drawer-navigation .drawer-navigation-label {
  @apply text-base font-semibold text-gray-500 uppercase dark:text-gray-400;
}
.drawer-navigation .close-btn {
  @apply text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white;
}
.drawer-navigation .navbar-link {
  @apply flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}
.drawer-navigation .navbar-link span {
  @apply flex-1 ml-3 whitespace-nowrap;
}

.home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 255, 0.5333333333), rgba(117, 19, 93, 0.8)), url("../imgs/events-heavenly-header.jpg");
}

.accordion .accordion-title {
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5019607843), rgba(117, 19, 93, 0.8));
}
.accordion .accordion-content {
  @apply p-3 hidden;
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5019607843), rgba(117, 19, 93, 0.8));
}

.countdown {
  background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5019607843), rgba(117, 19, 93, 0.8)), url("../imgs/invitation-2508607__340.jpg");
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}/*# sourceMappingURL=directives.css.map */